.skillContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 100%;
 
    /* background-image: linear-gradient(rgba(158, 106, 106, 0), rgba(20, 50, 66, 10)), url(https://wallpaperaccess.com/full/5652030.jpg); */
}

.skillContainer h1 {
   
   margin-top: 25px;
  
}

.skillContent {
    width: 80%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    text-align: center;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px black;
    border-radius: 0px 30px 0px 20px;
}

.skillContent div, .img8 {
    width: calc(25% - 20px); /* 4 items per row on large screens */
    max-width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px black;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.skillContent i {
    font-size: 50px;
}

.skillContent img {
    width: 80px;
    height: 80px;
}

.skillContent div:hover, .img8:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px rgb(9, 9, 211);
}



@media screen and (min-width:468px) and (max-width: 1200px){

    .skillContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 2200px;
    width: 100%;
    }
    .skillContent {
    width: 87%;
    height: 1700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    text-align: center;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px black;
    border-radius: 0px 30px 0px 30px;
}  
.skillContent div, .img8 {
    width: calc(50% - 20px); /* 2 items per row on large screens */
    max-width: 350px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px black;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    margin-top: 40px;
}
.skillContent div:hover, .img8:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px rgb(9, 9, 211);
}
.skillContent:hover{
         box-shadow: 5px  rgba(201, 123, 154, 0.774);
         box-shadow: 0px 0px 20px white;
}
.skillContent i {
    font-size: 100px;
   margin-top: 40px;
}

.skillContent img {
    width: 190px;
    height: 120px;
    margin-top: 50px;
}
}
