/* Dashboard.css */

.dashboard-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url(https://static.vecteezy.com/system/resources/previews/005/678/615/non_2x/dark-background-with-line-dot-connection-plexus-mesh-minimal-concept-modern-technical-design-for-presentation-vector.jpg);
  color: #fff;
}
p{
  font-size:20px;
  margin-bottom:50px ;
  color: rgb(163, 227, 100);
  margin-left: 300px;
  font-weight: bold;
}

.dashboard-title {
  font-size: 3rem;
  margin-left: 280px;
  margin-bottom: 10px;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.enter-button {
  padding: 12px 30px;
  font-size: 15px;
  font-weight: 500;
  color:white;
  background-color:blue;
  margin-left:220px;
  border: none;
  border-radius: 20px;
  
}

.enter-button:hover {
  background-color:white;
  color: black;
  box-shadow: 0 0 0 5px red;
}

@media screen and (min-width:768px) and (max-width: 981px){
  .dashboard-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  font-family: cursive;
  align-items: center;
  text-align: center;
  background-size: cover;

 background-image: url(https://html.nkdev.info/skylith/assets/images/bg-menu-full-2.jpg);
}
p{
  font-family: cursive;
  font-size:30px;
  width: 500px;
  margin-bottom:50px ;
  margin-left: 50px;
  color: rgb(220, 16, 16);
}

.dashboard-title {
  font-family: cursive;
  display: flex;
  width: 150px;
  font-size: 3rem;
  margin-right: 300px;
  margin-bottom: 30px;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.enter-button {
  font-family: cursiven;
  padding: 15px 40px;
  font-size: 18px;
  font-weight: 700;
  margin-left: 40px;
  color:white;
  background-color:blue;
  border: none;
  border-radius: 20px;
  
}

.enter-button:hover {
  background-color:white;
  color: black;
  box-shadow: 0 0 0 5px red;
}
}
